<!DOCTYPE html>
<html lang="ru-en">
<head>
    <meta charset="utf-8">
    <title>Education</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <div id="main-block">
    <main id="page">
        <div class="innertube">
            <header>
                <h1>Кравец Дмитрий</h1>
                <div id="main-nav-menu">
                    <ul id="main-nav">
                        <li><a href="index">ОБО МНЕ</a></li>
                        <li class="current"><a href="#">Учёба</a></li>
                        <li ><a href="job">Работа</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </header>
            <section id="education">

                <div class="clearfix"><h2>Здесь учился</h2></div>
                <div class="education-box">
                    <h3>СарФТИ НИЯУ МИФИ</h3>
                    <h5>2007-2012 гг.</h5>
                    <ul>
                        <p>
                        Закончил институт по специальности &laquo;Информационные технологии и системы&raquo;</li>
                        </p>
                    </ul>
                </div>
                <div class="education-box">
                    <h3>GeekBrains</h3>
                    <h5>2016-2017 гг.</h5>
                    <p>
                        В данный момент прожу курсы по специальности Python-программист, для того
                        чтобы освоить процесс фул-стек разработки веб-приложений.
                    </p>
                </div>
                <div class="clear"></div>
            </section>
        </div>
    </main>
    <footer class="clearfix">
        <section id="footer-innertube" >
            <div id="footer-address">
                <h5>Адрес</h5>
                <ul>
                    <li>г.Саров, Нижегородская область</li>
                    <li>ул. Юности</li>
                </ul>
            </div>
            <div id="footer-contact">
                <h5>Контакты</h5>
                <ul>
                    <li>+7-950-61х-хх-хх</li>
                    <li><a href="mailto:fenixsarov@gmail.com">e-mail</a></li>
                </ul>
            </div>
            <div id="footer-socials">
                <h5>Я в сети</h5>
                <ul>
                    <li id="vk-ico"><a href="http://vk.com/fenixsarov" target="_blank"></a></li>
                    <li id="facebook-ico"><a href="https://www.facebook.com/dmitry.kravets.9" target="_blank"></a></li>
                    <li id="twitter-ico"><a href="https://twitter.com/fenixsarov" target="_blank"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <ul id="footer-nav">
                <li><a href="index">ОБО МНЕ</a></li>
                <li>УЧЁБА</li>
                <li><a href="job">РАБОТА</a></li>
            </ul>
            <div id="to-top"><a href="#"></a></div>
            <div class="clear"></div>
            <p>&copy; 2017 Кравец Дмитрий. Идеи по дизайну сайта подсказал всезнающий Google </p>
            <div class="clear"></div>
        </section>
    </footer>
    </div>
</body>
</html>