{% extends "base.html" %}
{% block title %}
    Index | {{ block.super }}
{% endblock %}
        {% block content %}
            <section id="content">
                <div id="img_about"></div>
                <div class="clear"></div>
                <div id="stripe"></div>

                <div id="about" class="clearfix">
                    <div id="img-me"></div>
                    <h2>Немного о себе</h2>
                    <p> Меня зовут Кравец Дмитрий, работаю в данный момент C++ программистом. Основное направление деятельности сейчас - это разработка интерфесой программных комплексов. Нравится программировать на Python, потому решил освоить фул-стек разработку веб-приложений на GeekBrains.<br> В свободное время увлекаюсь настольным теннисом и покатушками на велосипеде.</p>
                </div>
            </section>
        {% endblock %}
