{% extends "base.html" %}
{% block title %}
    Work Expirience | {{ block.super }}
{% endblock %}
{% block content %}
    <section id="jobs">
        <div class="clearfix"><h2>Где работал</h2></div>
        <!-- пока не понял, как подставить номер итерации вместо 0, чтобы запросить нужный элемент -->
        {% for work in place_of_work%}
        <div class="working-box">
            <h3>{{ work }}</h3>
            <h5>{{ date_of_work.0 }}</h5>
            <p class="work-decription"> <br>
            {{ desc_of_work.0 }}
            </p>
        </div>
        {% endfor %}
        <div class="clear"></div>
    </section>
{% endblock %}