{% extends "base.html" %}
{% block title %}
    Продвинутая админка
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            Пользователи:
            <ul id="users">
                {% include 'inc-users.html' %}
            </ul>
        </div>
        <form id="user_form" onclick="send_data({{ id }})">
            {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <td>
                            {{ field.label_tag }}
                        </td>
                        <td>
                            <div>
                                <ul>
                                    {% for error in field.errors %}
                                        <li class="error">error: {{ error }}</li>
                                    {% endfor %}
                                    {{ field }}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Редактировать пользователя">
        </form>
    </div>
{% endblock %}