{% extends "base.html" %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <div class="column-1">
        <div id="about-shop">
            <p class="red-line">Клуб-магазин &laquo;Цитадель&raquo;</strong> приветствует тебя! Здесь Вы сможете познакомиться с
                увидивительно-мрачным миром настольного Warhammer 40000, найти оппонентов на форуме и приобрести всё
                необходимое для погружения в хобби.</p>
        </div>
        <div id="index-slider">Здесь будет слайдер</div>
    </div>
    <div id="index-image-1"></div>
{% endblock %}