<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>About Me</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<main class="container">
    <header class="header_box">
        <p>About Me</p>
    </header>
    <hr>
    <section class="content">
        <div class="menu">
            <ul>
                <li>
                    <a href="education.html">Учёба</a>
                </li>
                <li>
                    <a href="work.html">Работа</a>
                </li>
            </ul>
        </div>
        <div class="about_me">
            <ul>
                <li>Кравец Дмитрий Анатольевич</li>
                <li>год рождения 1989</li>
                <li>Занимаюсь настольным теннисом и обучаюсь веб-программированию</li>
            </ul>
        </div>
    </section>
</main>
</body>
</html>